html
    head
        title Whats The Code - Social game link sharing
    body
        p use this site to keep your friends updated with the latest code(s) to your social games Click <a href="/new">here</a> to start a new one